# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter / IPython
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Output media generated during runs
*.gif
*.mp4
*.png.bak

# IDE & Editor files
.vscode/
.idea/
*.swp
experiments/*
rompecabezas_tp/*
rompecabezas/*
tests/*
TP_Rompecabezas_Colab_respuesta.ipynb
TP_Rompecabezas_Colab_V2_ejercicios_secciones_solucion.ipynb
TP_Rompecabezas_Colab_V2_respuesta.ipynb
